<link rel="stylesheet" href="{{ url_for('design-system.static', filename='assets/js/color-picker/dist/coloris.min.css') }}" />
<style>
    .bootstrap-table .fixed-table-container .fixed-table-body {
        height: auto !important;
    }
    .custom-input.invalid-input textarea {
        border-color: var(--error);
        background-image: url(/design-system/static/assets/ico/alarm.svg);
        background-repeat: no-repeat;
        background-position: right 10px top 10px;
        background-size: 16px;
    }
    textarea.form-control {
        transition: none !important;
    }
    .bootstrap-table .fixed-table-container .table td:not(:last-child),
    #testResult td:not(:last-child)
    {
        vertical-align: top !important;
    }
    #prompts-aside-table tbody tr td:first-child,
    #promptsParamsTable tbody tr td:first-child {
        vertical-align: middle !important;
    }
    .cut-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50px;
        height: 1.2em;
        white-space: nowrap;
    }
    .highlight .cut-text {
        color: var(--basic);
        font-weight: 600;
    }
    #prompts-aside-table tr:hover {
        cursor: pointer;
    }
</style>