<link rel="stylesheet" href="{{ url_for('design-system.static', filename='assets/js/color-picker/dist/coloris.min.css') }}" />
<style>
    .bootstrap-table .fixed-table-container .fixed-table-body {
        height: auto !important;
    }
    .custom-input.invalid-input textarea {
        border-color: var(--error);
        background-image: url(/design-system/static/assets/ico/alarm.svg);
        background-repeat: no-repeat;
        background-position: right 10px top 10px;
        background-size: 16px;
    }
    textarea.form-control {
        transition: none !important;
    }
    .bootstrap-table .fixed-table-container .table td:not(:last-child),
    #testResult td:not(:last-child)
    {
        vertical-align: top !important;
    }
    #prompts-aside-table tbody tr td:first-child,
    #promptsParamsTable tbody tr td:first-child {
        vertical-align: middle !important;
    }
    .cut-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50px;
        height: 1.2em;
        white-space: nowrap;
    }
    .highlight .cut-text {
        color: var(--basic);
        font-weight: 600;
    }
    #prompts-aside-table tr:hover {
        cursor: pointer;
    }
    .prompt-chat {
        padding: 10px;
        overflow: scroll;
        height: 300px;
        border: solid 1px var(--gray400);
        border-radius: 4px;
    }
    .prompt-chat:focus-visible {
        outline: none;
        border: solid 1px var(--gray400);
    }
    .prompt-message, .prompt-message:focus-visible {
        border: none;
        outline: none;
        text-indent: 10px;
    }
    .prompt-input {
        border: solid 1px var(--gray400);
        border-radius: 4px;
        padding: 4px;
    }
    .prompt-message::placeholder {
        color: #ABB3B9;
        padding: 4px 4px 4px 4px;
    }
    .icon-chatting {
        display: inline-block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: #CAD1D7;
    }
    .container-scroll {
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .container-scroll::-webkit-scrollbar {
        display: none;
    }
</style>